<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danny.sencepager" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".baiduyixia"
            android:label="@string/title_activity_main2" >
        </activity>
        <activity
            android:name=".myViewPager"
            android:label="@string/title_activity_my_view_pager" >
        </activity>
        <activity
            android:name=".showinfo"
            android:label="@string/title_activity_showinfo" >
        </activity>
        <activity
            android:name=".listview"
            android:label="listview" >
        </activity>
        <activity
            android:name=".AlarmClockSetting"
            android:label="@string/title_activity_alarm_clock_setting" >
        </activity>
        <activity
            android:name=".ShareReference"
            android:label="@string/title_activity_share_reference" >
        </activity>
        <activity
            android:name=".volumeseekbar"
            android:label="@string/title_activity_volumeseekbar" >
        </activity>
        <activity
            android:name=".mywebview"
            android:label="@string/title_activity_mywebview" >
        </activity>
    </application>

</manifest>
